    
    <section class="bg-dark-blue" >
          <div class="title-default">
                                <h2>Teams</h2>
         </div>
         <%@teams.each do |team| %>
                <div class="m-08 module" style="width:30%">
                    <div class="m-06 module" style="width:100%">
                        <div class="module-content">
                        <div class="module-blockquot bg-grey">    
                            <div class="title-default">
                                
                                <h2><%=team.name%></h2>  
                            </div>                      
                            
                                <blockquote style=""> 
                                    <i class="fa fa-flag" style="color:<%=team.color%>"></i>
                                    <b><p>Caption Name: <%=team["captian_name"].first%></br>
                                        Place: <%=team.place%></b>
                                        </p>
                                    <%= link_to team_information_path(team.id) do %>
                                      <div class="button green-bg">More</div>
                                    <%end%>
                                </blockquote>   
                            </div>
                        </div> 

                     </div>
                </div>
   
        <%end%>
       
    </section>
                    
