<section class="bg-dark-blue">

		<div class="m-06" style="width:100%">
			<div class="module-content">

				<div class="title-default">
					<h2><b>Team </b></h2>	
				</div>	<!-- Module Title -->

				<table class="table-scores">
						<tr class="t-header">
							<td colspan="3" class="score-date"><b>Team</b> </td>
							<td title="Captian" ><a href="#"><i class="fa fa-flag"></i></a></td>
						</tr>

						<tr class="t-header">
							<td>Name</td>
							<td>Color</td>
							<td>Place</td>
							<td></td>
							
						</tr>
						<tr>							
							<td><%=@team_info.name%></td>
							<td><%=@team_info.color%></td>
							<td><%=@team_info.place%></td>					
							<td title="Edit" ><a href="#"><i class="fa fa-edit"></i></a></td>
						</tr>
			    		<tr ><td style="background-color:transparent"></td></tr>																								
						
						<tr class="t-header">
							<td colspan="3" class="score-date"><b>Captian</b></td>
							<td title="Captian" ><a href="#"><i class="fa fa-star"></i></a></td>
						</tr>

						<tr class="t-header">
							<td >Name</td>
							<td >Email</td>
							<td>Phone Number</td>
							<td></td>
							
						</tr>
						<tr>							
							<td><%=@captian_info.name%></td>
							<td><%=@captian_info.email%></td>
							<td><%=@captian_info.phoneno%></td>					
							<td title="Edit" ><a href="#"><i class="fa fa-edit"></i></a></td>
						</tr>	

						<tr ><td style="background-color:transparent"></td></tr>
						<tr class="t-header">
							<td colspan="3" class="score-date"><b>Players</b></td>
							<td title="Players" ><a href="#"><i class="fa fa-group"></i></a></td>
						</tr>

						<tr class="t-header">
							<td>Name</td>
							<td>Email</td>
							<td></td>
							<td></td>
							
						</tr>
					<%@player_info.each do |player|%>
						<tr>							
							<td><%=player.name%></td>
							<td><%=player.phoneno%></td>
							<td></td>					
							<td title="Edit" ><a href="#"><i class="fa fa-edit"></i></a></td>
						</tr>
					<%end%>																											
				</table> <!-- Table Scores -->
				

			</div>	<!-- Module Content -->	
		</div>	<!-- Module -->	
</section>