    
    <section class="bg-dark-blue">
          <div class="title-default">
                                <h2>Teams</h2>
         </div>
         <%@teams.each do |team| %>
                <div class="m-08 module" style="width:30%">
                    <div class="m-06 module" style="width:100%">
                        <div class="module-content">
                        <div class="module-blockquot bg-grey">    
                            <div class="title-default">
                                
                                <h2><%=team.name%></h2>  
                            </div>                      
                            
                                <blockquote > 
                                    <i class="fa fa-flag" style="color:<%=team.color%>"></i>
                                    <p>Caption Name: <%=team["captian_name"].first%></br>
                                        Place: <%=team.place%>
                                        </p>
                                    <%= link_to (url_for({:controller => "welcome", :action => "team_information", :id => team.id})) do %>
                                      <div class="button green-bg">More</div>
                                    <%end%>
                                </blockquote>   
                            </div>
                        </div> 

                     </div>
                </div>
   
        <%end%>
       
    </section>
                    
