    
    <section class="bg-dark-blue" >
          <div class="title-default">
                                <h2>Teams</h2>
         </div>
         <%@teams.each do |team| %>
                <div class="m-08 module" style="width:30%">
                    <div class="m-06 module" style="width:100%">
                        <div class="module-content">
                        <div class="module-blockquot bg-grey">    
                            <div class="title-default">
                                
                                <h2><%=team.name%></h2>  
                            </div>                      
                            
                                <blockquote style=""> 
                                    <i class="fa fa-flag" style="color:<%=team.color%>"></i>
                                    <b><p>Captain Name: <%=team["captian_name"].first%></br>
                                        Place: <%=team.place%></b>
                                        </p>
                                    <%= link_to team_information_path(team.id) do %>
                                      <div class="button green-bg">More</div>
                                    <%end%>
                                </blockquote>   
                            </div>
                        </div> 

                     </div>
                </div>
   
        <%end%>
       
    </section>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/lightbox.css">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,700italic,700,400italic' rel='stylesheet' type='text/css'>
    
    <script src="js/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="js/js.js" type="text/javascript"></script>
        <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="../owl-carousel/owl.carousel.css">
    <!-- Default Theme -->
    <link rel="stylesheet" href="../owl-carousel/owl.theme.css">
    <!-- Include js plugin -->
    <script src="owl-carousel/owl.carousel.js"></script>
    <script src="js/countdown.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/lightbox.js" type="text/javascript" charset="utf-8"></script>
                    
